@charset "utf-8";
body {
    font-family: 'Catamaran', sans-serif;
	font-weight: 300;
	font-style: thin;
	height: 100%;
	background-image: url("./bg.png");
	text-rendering: geometricPrecision;
	margin: 0;
}

a:link {
	text-decoration: none;
	color: #08c;
}

a:visited {
	color: #08c;
}

#wrapper {
	max-width: 960px;
	margin: 0 auto;
	object-fit: contain;
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 8px #999;
}

header {
	margin-top: 0px;
}

#Top-Header {
	text-align: right;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	position: relative;
	overflow: hidden;
}

#Page-Title {
	text-align: left;
	float: left;
	margin: 25px 0 -25px 10px;
	font-size: 40px;
	color: #aaa;
}

.Main-Form {
	text-align: center;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	display: block;
}

.LargeSelect {
	padding: 8px;
	width: 72%;
	margin: 10px;
	border-radius: 2px;
	border: solid;
	border-width: 1px;
	border-color: rgb(171, 171, 171);
	outline: none;
	color: rgba(100, 100, 100, 1);

	-webkit-transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
}

.LargeSelect:hover {
	border-color: #909090;
}

.Restraint {
	position: relative;
}


.inputField {
	padding: 8px;
	width: 70%;
	margin: 10px;
	border-radius: 2px;
	border: solid;
	border-width: 1px;
	border-color: rgb(171, 171, 171);
	outline: none;
	color: rgba(100, 100, 100, 1);
	
	-webkit-transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
}

.inputField:focus {
	border-color: #707070;
	width: 72%;
}

.inputField:hover {
	border-color: #909090;
}

.inputField:focus::placeholder {
	/*color: #e0e0e0;*/
}

.inputField:focus::-webkit-input-placeholder {
	/*color: #e0e0e0;*/
}

.inputField::placeholder {
	color: rgba(160, 160, 160, 1);	
}

.inputField::-webkit-input-placeholder {
	color: rgba(200, 200, 200, 1);
}

#Login {
	margin: 10px 0 10px 0;
	width: 120px;
}

#CreateAcc {
	margin-right: 57%;
}

.AdvisorTable {
	width: 50%;
	margin: auto;
}

.CheckboxDescriptor {
	color: rgb(100, 100, 100);
}

.signup {
	background-color: rgba(100, 180, 100, 1);
	border: none;
	margin: auto;
	width: 200px;
	padding: 4px 7px 4px 7px;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	color: rgba(70,70,70,1.00);
	display: inline-block;
	border-radius: 1px;

	
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: background-color 600ms cubic-bezier(0.19,1,0.22,1);
}

.signup span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 600ms;	
}

.signup span:after {
	content: ' »';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -7px;
	transition: 600ms;
}

.signup:hover span {
	padding-right: 10px;
}

.signup:hover span:after {
	opacity: 1;
	right: 2px;
}

.signup:hover {
	background-color: rgba(110, 190, 110, 1);
	color: rgba(40,40,40,1.00);
}


.edit {
	background-color: rgba(170, 170, 170, 1);
	border: none;
	width: 200px;
	margin: auto;
	padding: 4px 7px 4px 7px;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	color: rgba(70,70,70,1.00);
	display: inline-block;
	border-radius: 1px;

	
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: background-color 600ms cubic-bezier(0.19,1,0.22,1);
}

.edit span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 600ms;	
}

.edit span:after {
	content: ' »';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -8px;
	transition: 600ms;
}

.edit:hover span {
	padding-right: 25px;
}

.edit:hover span:after {
	opacity: 1;
	right: 5px;
}

.edit:hover {
	background-color: rgba(200, 200, 200, 1);
	color: rgba(40,40,40,1.00);
}

.submit {
	background-color: rgba(100, 180, 100, 1);
	border: none;
	margin: 15px;
	padding: 7px 15px 7px 15px;
	text-decoration: none;
	cursor: pointer;
	font-size: 22px;
	color: rgba(70,70,70,1.00);
	display: inline-block;
	border-radius: 1px;
	
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: background-color 600ms cubic-bezier(0.19,1,0.22,1);
}

.submit span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 600ms;	
}

.submit span:after {
	content: ' »';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -15px;
	transition: 600ms;
}

.submit:hover span {
	padding-right: 25px;
}

.submit:hover span:after {
	opacity: 1;
	right: 5px;
}

.submit:hover {
	background-color: rgba(110, 190, 110, 1);
	color: rgba(40,40,40,1.00);
}

.button {
	background-color: rgba(170, 170, 170, 1);
	border: none;
	margin-top: 15px;
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	width: 25%;
	color: rgba(70,70,70,1.00);
	display: inline-block;
	border-radius: 1px;
	
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: background-color 600ms cubic-bezier(0.19,1,0.22,1);
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 600ms;	
}

.button span:after {
	content: ' »';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -15px;
	transition: 600ms;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 5px;
}

.button:hover {
	background-color: rgba(200, 200, 200, 1);
	color: rgba(40,40,40,1.00);
}

.left {
	margin-right: 40%;
}

#Buttons {
	width: 72%;
	text-align: right;
	margin: auto;	
}

.umbc-logo {
	width: 35%;
	margin: 3px 10px 3px 0;
	align: right;
}

.Header {
	margin-bottom: 50px;
}

.LHeavy {
	position: relative;
	right: 38px;
}

.Descriptor {
	position: relative;
	font-size: 18px;
	color: rgb(171, 171, 171);
	margin-right: 200px;
	top: 5px;
}

.CenteredDescriptor {
	font-size: 18px;
	color: rgb(171, 171, 171);
	top: 5px;
}

#Register {
	width: 140px;
}

.RadialDescriptor {
	color: rgb(100, 100, 100);
}

.BackDiv {
	text-align: left;
	margin: 0 0 0 70px;
}

.BackButton {
	background-color: rgba(200, 200, 200, 1);
	border: none;
	margin-top: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	width: 75px;
	color: rgba(70,70,70,1.00);
	display: inline-block;
	border-radius: 1px;
	
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: background-color 600ms cubic-bezier(0.19,1,0.22,1);
}

.BackButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 600ms;	
}

.BackButton span:after {
	content: '« ';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -15px;
	transition: 600ms;
}

.BackButton:hover span {
	padding-left: 25px;
}

.BackButton:hover span:after {
	opacity: 1;
	left: 5px;
}

.BackButton:hover {
	background-color: rgba(220, 220, 200, 1);
	color: rgba(40,40,40,1.00);
}

.Logout {
	background-color: rgba(200, 170, 170, 1);
	border: none;
	margin-top: 15px;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	cursor: pointer;
	font-size: 14px;
	width: 20%;
	color: rgba(70,70,70,1.00);
	display: inline-block;
	border-radius: 1px;
	
	transition: all 600ms cubic-bezier(0.19,1,0.22,1);
	-webkit-transition: background-color 600ms cubic-bezier(0.19,1,0.22,1);
}

.Logout span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 600ms;	
}

.Logout span:after {
	content: '« ';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -15px;
	transition: 600ms;
}

.Logout:hover span {
	padding-left: 25px;
}

.Logout:hover span:after {
	opacity: 1;
	left: 5px;
}

.Logout:hover {
	background-color: rgba(220, 180, 180, 1);
	color: rgba(40,40,40,1.00);
}

#dateDescriptor {
	color: rgb(180, 180, 180);
	font-size: 12px;
	position: relative;
	text-align: left;
}

.DateDescriptor {
	position: absolute;
}

.DateTime {
	width: 100px;
	height: 19px;
	margin-top: 15px;
	color: rgb(80, 80, 80);
}

#picker {
	height: 25px;
}

.Month {
	left: 386px;
}

.Day {
	left: 510px;
}

.Year {
	left: 617px;
}

.Hour {
	left: 402px;
	top: 20px;
}

.Minute {
	left: 494px;
	top: 20px;
}


.ErrorDiv, .SuccessDiv {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}
#OtherMajor {
	width: auto;
	height: auto;
	margin: 50px;
	padding: 30px;
	text-align: left;
}

#OtherMajor li {
	margin: auto;
    display: block;
    text-align: left;
	list-style: none;
	padding-left: 0px;
}

#OtherMajor li:before {
	content: "- ";
}

.InnerErrorDiv {
	width: 60%;
	background-color: rgba(255, 240, 240, 0.6);
	border-top: solid;
	border-color: rgb(255, 200, 200);
	border-width: 3px;
	margin: auto;
	overflow: hidden;
	height: 85px;
	position: relative;
	vertical-align: middle;
	display: inline-block;
}

.ErrorBackground {
	position: absolute;
	font-size: 32px;
	color: rgba(255, 180, 180, 0.6);
	top: -16px;
	left: -5px;
}

.InnerSuccessDiv {
	width: 60%;
	background-color: rgba(180, 255, 180, 0.6);
	border-top: solid;
	border-color: rgb(255, 200, 200x);
	border-width: 3px;
	margin: auto;
	overflow: hidden;
	height: 85px;
	position: relative;
	vertical-align: middle;
	display: inline-block;
}

.SuccessBackground {
	position: absolute;
	font-size: 32px;
	color: rgba(16, 179, 33, 0.6);
	top: -16px;
	left: -5px;
}


#ending  {
	margin-top: 0;
}

#Create {
	width: 150px;
}

#CreateAppt {
	width: 250px;
}


#SearchAppt {
	width: 260px;
}

#endingDescriptor {
	top: 30px;
}

.Subtitle {
	color: rgb(200, 200, 200);
	font-size: 14pt;
}

#appointmentDate {
	font-size: 15pt;
	color: rgb(160, 160, 160);
}

#appointmentTime {
	font-size: 20pt;
	color: rgb(120, 120, 120);
}

#advisorName {
	font-size: 12pt;
	color: rgb(180, 180, 180);
	margin: -10px 0 -10px 0;
}

.GroupDescriptor {
	color: rgb(200, 200, 200);
	font-size: 15pt;
	margin: -10px 0 -10px 0;
}

.SpacesDescriptor {
	color: rgb(200, 200, 200);
}

#spacesCount {
	color: rgb(160, 160, 160);
	font-size: 15pt;
}



.Title {
	color: rgb(150, 150, 150);
	font-size: 24pt;
}

.timeSelector  {
	margin-top: 20px;
}

#Inner-Footer {
	display: table;
	width: 100%;
}

.main-inner-footer-field {
	color: #ffffff;
	background-color: #000000;
	display: table-cell;
	text-align: center;
	padding: 4px 8px;
}

.inner-footer-field {
	display: table-cell;
	text-align: center;
	background-color: #E5E3CF;
	padding: 4px 8px;
	border-left: 1px solid rgba(0,0,0,.2);
}

.inner-footer-link:link {
	color: #000;
}


#Footer {
	max-width: 960px;
	margin: 20px auto;
	text-align: right;
	font-size: 14px;
	vertical-align: bottom;
}

.umbc-footer {
	max-width: 25%;
	float: left;
}

.facebook-footer {
	height: 12px;
	width: 12px;
	object-fit: cover;
}

.twitter-footer {
	height: 12px;
	width: 12px;
	object-fit: cover;
}

.rss-footer {
	height: 12px;
	width: 12px;
	object-fit: cover;
}

#advisorForm, #studentForm {
	transition: all 0.5s ease 0s;
 	overflow: hidden;
 	max-height: 1000px
}

#student_rb:checked~#advisorForm, #advisor_rb:checked~#studentForm {
	max-height: 0px;
	margin: 0px;
	padding: 0px;
}

input.formSelect {
	display: none;
}

label.formSelect {
	text-decoration: underline;
	color: navy;
	cursor: pointer;
}


a.Descriptor~div>ul {
	margin: auto;
    display: inline-block;
    text-align: left;
	list-style: none;
	padding-left: 0px;
}

a.Descriptor~div>ul li:before {
	content: "- ";
}












